.prenom-nom 
{
    animation-duration: 3s;
    animation-name: nom;
    padding-top: 6%;
    font-size: 250%;
    font-family: cartoon;
    color: white;
    text-align: center;
    margin-top: 5%;
} 

.prenom-nom
{
    animation-duration: 2s;
    animation-name: nom;
}

@keyframes nom
{
    from 
    {
       opacity: 0;
       
    }
    25%
    {
        opacity: 25%;
        
    }
    50
    {
        opacity: 50%;
    }
    75%
    {
        opacity: 75%;
    }
    to 
    {
      opacity: 100%;
    }
}

.presentation-image
{
    background-image: url(../images/kamehouse4.png);
    margin-top: -2%;
    height: 800px;
    width: auto;
    background-repeat: no-repeat;
}

@font-face
{
    font-family: 'cartoon';
    src: url('../font/STONB___.TTF');
}

@font-face
{
    font-family: 'facon';
    src: url('../font/Facon.otf')
}

.portfolio
{
    text-align: center;
    font-size: 250%;
    font-family: cartoon;
    color: white;
}

.portfolio
{
    animation-duration: 4s;
    animation-name: portfolio;
}

@keyframes portfolio
{
    from 
    {
       opacity: 0;
       
    }
    25%
    {
        opacity: 0;
        
    }
    50%
    {
        opacity: 50%;
    }
    75%
    {
        opacity: 75%;
    }
    to 
    {
      opacity: 100%;
    }
}

.prenom-nom:hover
{
    color: black;
    margin-left: 20%;
}

.portfolio:hover
{
    color: black;
    margin-left: -20%;
}

.qui-suis
{
    margin-left: 25%;
    color: white;
}

.div-presentation
{
    width: 70%;
    height: 300px;
    margin-left: 17%;
    margin-top: 3%;
    border-radius: 15%;
    margin-bottom: 25%;
    display: flex;
}

.text-presentation
{
    color: white;
    text-align: center;
    font-size: 200%;
    font-family: roboto;
    padding-top: 0%;
    margin-left:-25%;
}

.photo-moi
{
    margin-left: 15%;
}

.grand-div-presentation
{
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    height: 705px;
}

.photo-moi
{
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.photo-moi:hover 
{
	-webkit-filter: blur(0);
	filter: blur(0);
}

.logo-itescia
{
    margin-top: -30%;
    margin-left: 24%;
}

.progression
{
    text-align: center;
    margin-top: 5%;
    font-size: 250%;
    font-family: Impact, sans-serif;
}

.musculation
{
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    height: 650px;
    margin-top: 3%;
} 

#video-muscu
{
    
    margin-left: 2%;
}

.legende-video-muscu
{
    margin-left: 30%;
    padding-top: 1%;
    font-size: 175%;
    color: white;
    font-family: impact , sans-serif;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-name: titre-muscu;
    animation-iteration-count: infinite;
}

@keyframes titre-muscu
{

    from
    {

    }

    to
    {
        margin-left: 50%;
        
    }
}

.display-muscu
{
    display: flex;
}

.text-muscu-1
{
    margin-left: 8%;
    color: white;
    font-size: 200%;
    margin-top: 15%;
    animation-name: textmuscu1;
    animation-duration: 3s;
    display: none;
}

.text-muscu-2
{
    margin-left: 8%;
    color: white;
    font-size: 200%;
    animation-name: textmuscu2;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: backwards;
    display: none;
}

.text-muscu-3
{
    margin-left: 8%;
    color: white;
    font-size: 200%;
    animation-name: textmuscu3;
    animation-duration: 3s;
    animation-delay: 6s;
    animation-fill-mode: backwards;
    display: none;
}

.bonhomme-muscu
{
    margin-left: 30%;
    display: none;
    animation-delay: 9s;
    animation-name: bonhomme;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}

@keyframes bonhomme
{
    from
    {
        opacity: 0%;
    }
    to
    {
       opacity: 100%;
    }
}

@keyframes textmuscu1
{
    from
    {
        margin-left: 100%;
    }
    to
    {
        margin-left: 8%
    }
}

@keyframes textmuscu2
{
    from
    {
        margin-left: 100%;
    }
    to
    {
        margin-left: 8%
    }
}

@keyframes textmuscu3
{
    from
    {
        margin-left: 100%;
    }
    to
    {
        margin-left: 8%
    }
}

#button-video-muscu
{
    margin-left: 40%;
    margin-top: 2%;
    width: 20%;
    border-radius: 11%;
}

.text-button-video-muscu
{
    text-align: center;
    padding-top: 10%;
    font-size: 125%;
    font-weight: bold;
    color: #5A188D;
}

#button-video-muscu :hover
{
   color: black;
}

.differents-langage
{
    text-align: center;
    margin-top: 5%;
}

.barre-progression-1
{
    border: 2px solid black;
    margin-top: 5%;
    margin-left: 27%;
    width: 50%;
    height: 50px;
    position: relative;
    border-radius: 5%;
}

.couleur-progression
{
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    width: 100%;
    height: 100%;
    animation-name: couleur-progression-animation-1;
    animation-duration: 7S;
    
}



@keyframes couleur-progression-animation-1
{
    from
    {
        width: 0%;
    }
    to 
    {
        width: 100%;
    }
}


.titre-barre-progression
{
    font-size: 150%;
    font-weight: bold;
    margin-left: -15%;
    position: absolute;
}

.test
{
    height: 800px;
}

.pourcentage-html
{
    text-align: center;
    color: white;
    padding-top: 1%;
    font-size: 125%;
    font-weight: bold;
    animation-name: animation-pourcentage-html;
    animation-duration: 3s;
    animation-delay: 7s;
    animation-fill-mode: backwards;
    display: none;
    font-family: facon , sans-serif;
}

@keyframes animation-pourcentage-html
{
    from
    {
        opacity:  0%;
    }
    to 
    {
        opacity: 100%;
    }
}

.barre-progression-2
{
    border: 2px solid black;
    margin-top: 5%;
    margin-left: 27%;
    width: 50%;
    height: 50px;
    position: relative;
    border-radius: 5%;
}

.couleur-progression2
{
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    width: 80%;
    height: 100%;
    animation-name: couleur-progression-animation-2;
    animation-duration: 7S;
    
}

@keyframes couleur-progression-animation-2
{
    from
    {
        width: 0%;
    }
    to 
    {
        width: 80%;
    }
}

.titre-barre-progression2
{
    font-size: 150%;
    font-weight: bold;
    margin-left: -15%;
    position: absolute;
}

.pourcentage-css
{
    text-align: center;
    color: white;
    padding-top: 1%;
    font-size: 125%;
    font-weight: bold;
    animation-name: animation-pourcentage-css;
    animation-duration: 3s;
    animation-delay: 7s;
    animation-fill-mode: backwards;
    display: none;
    font-family: facon , sans-serif;
}

@keyframes animation-pourcentage-css
{
    from
    {
        opacity:  0%;
    }
    to 
    {
        opacity: 100%;
    }
}

.barre-progression-3
{
    border: 2px solid black;
    margin-top: 5%;
    margin-left: 27%;
    width: 50%;
    height: 50px;
    position: relative;
    border-radius: 5%;
}

.couleur-progression3
{
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    width: 60%;
    height: 100%;
    animation-name: couleur-progression-animation-3;
    animation-duration: 7S;
    
}

@keyframes couleur-progression-animation-3
{
    from
    {
        width: 0%;
    }
    to 
    {
        width: 60%;
    }
}

.titre-barre-progression3
{
    font-size: 150%;
    font-weight: bold;
    margin-left: -25%;
    position: absolute;
}

.pourcentage-virtualbasic
{
    text-align: center;
    color: white;
    padding-top: 1%;
    font-size: 125%;
    font-weight: bold;
    animation-name: animation-pourcentage-virtualbasic;
    animation-duration: 3s;
    animation-delay: 7s;
    animation-fill-mode: backwards;
    display: none;
    font-family: facon , sans-serif;
}

@keyframes animation-pourcentage-virtualbasic
{
    from
    {
        opacity:  0%;
    }
    to 
    {
        opacity: 100%;
    }
}

.barre-progression-4
{
    border: 2px solid black;
    margin-top: 5%;
    margin-left: 27%;
    width: 50%;
    height: 50px;
    position: relative;
    border-radius: 5%;
}

.couleur-progression4
{
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    width: 60%;
    height: 100%;
    animation-name: couleur-progression-animation-4;
    animation-duration: 7S;
    
}

@keyframes couleur-progression-animation-4
{
    from
    {
        width: 0%;
    }
    to 
    {
        width: 60%;
    }
}

.titre-barre-progression4
{
    font-size: 150%;
    font-weight: bold;
    margin-left: -15%;
    position: absolute;
}

.pourcentage-C
{
    text-align: center;
    color: white;
    padding-top: 1%;
    font-size: 125%;
    font-weight: bold;
    animation-name: animation-pourcentage-C;
    animation-duration: 3s;
    animation-delay: 7s;
    animation-fill-mode: backwards;
    display: none;
    font-family: facon , sans-serif;
}

@keyframes animation-pourcentage-C
{
    from
    {
        opacity:  0%;
    }
    to 
    {
        opacity: 100%;
    }
}

.barre-progression-5
{
    border: 2px solid black;
    margin-top: 5%;
    margin-left: 27%;
    width: 50%;
    height: 50px;
    position: relative;
    border-radius: 5%;
}

.couleur-progression5
{
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    width: 50%;
    height: 100%;
    animation-name: couleur-progression-animation-5;
    animation-duration: 7S;
    
}

@keyframes couleur-progression-animation-5
{
    from
    {
        width: 0%;
    }
    to 
    {
        width: 50%;
    }
}

.titre-barre-progression5
{
    font-size: 150%;
    font-weight: bold;
    margin-left: -15%;
    position: absolute;
}

.pourcentage-php
{
    text-align: center;
    color: white;
    padding-top: 1%;
    font-size: 125%;
    font-weight: bold;
    animation-name: animation-pourcentage-php;
    animation-duration: 3s;
    animation-delay: 7s;
    animation-fill-mode: backwards;
    display: none;
    font-family: facon , sans-serif;
}

@keyframes animation-pourcentage-php
{
    from
    {
        opacity:  0%;
    }
    to 
    {
        opacity: 100%;
    }
}

.barre-progression-6
{
    border: 2px solid black;
    margin-top: 5%;
    margin-left: 27%;
    width: 50%;
    height: 50px;
    position: relative;
    border-radius: 5%;
}

.couleur-progression6
{
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    width: 50%;
    height: 100%;
    animation-name: couleur-progression-animation-6;
    animation-duration: 7S;
    
}

@keyframes couleur-progression-animation-6
{
    from
    {
        width: 0%;
    }
    to 
    {
        width: 50%;
    }
}

.titre-barre-progression6
{
    font-size: 150%;
    font-weight: bold;
    margin-left: -22%;
    position: absolute;
}

.pourcentage-js
{
    text-align: center;
    color: white;
    padding-top: 1%;
    font-size: 125%;
    font-weight: bold;
    animation-name: animation-pourcentage-js;
    animation-duration: 3s;
    animation-delay: 7s;
    animation-fill-mode: backwards;
    display: none;
    font-family: facon , sans-serif;
}

@keyframes animation-pourcentage-js
{
    from
    {
        opacity:  0%;
    }
    to 
    {
        opacity: 100%;
    }
}

.titre-frameworks
{
    text-align: center;
    margin-top: 5%;
}

.barre-progression-7
{
    border: 2px solid black;
    margin-top: 5%;
    margin-left: 27%;
    width: 50%;
    height: 50px;
    position: relative;
    border-radius: 5%;
}

.couleur-progression7
{
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    width: 70%;
    height: 100%;
    animation-name: couleur-progression-animation-7;
    animation-duration: 7S;
    
}

@keyframes couleur-progression-animation-7
{
    from
    {
        width: 0%;
    }
    to 
    {
        width: 70%;
    }
}

.titre-barre-progression7
{
    font-size: 150%;
    font-weight: bold;
    margin-left: -22%;
    position: absolute;
}

.pourcentage-bootstrap
{
    text-align: center;
    color: white;
    padding-top: 1%;
    font-size: 125%;
    font-weight: bold;
    animation-name: animation-pourcentage-bootstrap;
    animation-duration: 3s;
    animation-delay: 7s;
    animation-fill-mode: backwards;
    display: none;
    font-family: facon , sans-serif;
}

@keyframes animation-pourcentage-bootstrap
{
    from
    {
        opacity:  0%;
    }
    to 
    {
        opacity: 100%;
    }
}

.barre-progression-8
{
    border: 2px solid black;
    margin-top: 5%;
    margin-left: 27%;
    width: 50%;
    height: 50px;
    position: relative;
    border-radius: 5%;
}

.couleur-progression8
{
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    width: 30%;
    height: 100%;
    animation-name: couleur-progression-animation-8;
    animation-duration: 7S;
    
}

@keyframes couleur-progression-animation-8
{
    from
    {
        width: 0%;
    }
    to 
    {
        width: 30%;
    }
}

.titre-barre-progression8
{
    font-size: 150%;
    font-weight: bold;
    margin-left: -22%;
    position: absolute;
}

.pourcentage-jquery
{
    text-align: center;
    color: white;
    padding-top: 1%;
    font-size: 125%;
    font-weight: bold;
    animation-name: animation-pourcentage-jquery;
    animation-duration: 3s;
    animation-delay: 7s;
    animation-fill-mode: backwards;
    display: none;
    font-family: facon , sans-serif;
}

@keyframes animation-pourcentage-jquery
{
    from
    {
        opacity:  0%;
    }
    to 
    {
        opacity: 100%;
    }
}

.espace-bot
{
    height: 100px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

* {
  box-sizing: border-box;
}


.wrapper {
  display: flex;
  justify-content: center;
}

.cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    background: #6225E6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

  span {
    transform: skewX(15deg) 
  }

  span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}

.titre-presentation-1-annee
{
    margin-top: 4%;
    text-align: center;
    font-family: 'Abril Fatface', cursive , sans-serif;
    font-weight: bold;
}

.presentation-mapa
{
    font-family: 'Abril Fatface', cursive , sans-serif;
    font-size: 125%;
    margin-top: 9%;
    margin-right: 2%;
    margin-left: 10%;
    text-align: center;
}

.image-mapadirect
{
    margin-left: 36%;
    margin-top: 1%;
}

.div-presentation-mapa
{
    display: flex;
    margin-top: 3%;
}

.div-localisation-mapa
{
    margin-right: 10%;
    margin-left: 2%;
}

.text-presentation-service
{
    font-family: 'Abril Fatface', cursive , sans-serif;
    text-align: center;
    margin-top: 3%; 
    font-size: 150%;
    
}

.mission-mapa
{
    font-family: 'Abril Fatface', cursive , sans-serif;
    text-align: center;
    margin-top: 3%; 
    font-size: 150%;
}

.div-service-mission
{
    display: flex;
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
 background-blend-mode: normal, lighten, soft-light;
}

.titre-situation-ecole
{
    text-align: center;
    margin-top: 4%;
    font-weight: bold;
    font-family: 'Abril Fatface', cursive , sans-serif;
}

.titre-javascript
{
    text-align: center;
    margin-top: 4%;
    font-weight: bold;
    font-family: 'Abril Fatface', cursive , sans-serif;
    font-size: 200%;
}

.gsb-2
{
    margin-left: 29%;
    margin-top: 3%;
}

.cliquer-projet
{
    text-align: center;
    font-size: 125%;
    visibility: hidden;
    font-weight: bold;
    font-family: 'Abril Fatface', cursive , sans-serif;
    animation-name: animationcliquerprojet;
    animation-duration: 5s;
}

@keyframes animationcliquerprojet
{
    from
    {
        opacity: 0%;
    }
    to
    {
        opacity: 100%;
    }
}

.titre-gsb-mutation
{
    font-family: 'Abril Fatface', cursive , sans-serif;
    font-size: 150%;
    font-weight: bold;
    margin-top: 5%;
    text-align: center;
    color: white;
}

.contexte-gsb-mutation
{
    font-size: 125%;
    text-align: center;
    font-family: 'Abril Fatface', cursive , sans-serif;
    color: white;
}

.div-page-connexion
{
    display: flex;
    margin-top: 3%;
}

.image-page-connexion
{
    width: 60%;
    margin-left: 25%;
    animation-name: animationimage-page-connexion;
    animation-duration: 1s;
    animation-play-state: paused;
    animation-fill-mode: forwards ;
}

.texte-page-connexion
{
    font-family: 'Abril Fatface', cursive , sans-serif;
    font-size: 115%;
    padding-left: 4%;
    padding-top: 4%;
    text-align: center;
    color: white;
}

.image-page-affectation
{
    width: 40%;
    padding-left: 2%;
}

.texte-page-affectation
{
    font-family: 'Abril Fatface', cursive , sans-serif;
    font-size: 115%;
    padding-left: 3%;
    padding-top: 5%;
    text-align: center;
    width: 90%;
    color: white;
}

.barre-presentation
{
    border-top:1px solid white;
    width: 90%;
    margin-left: 5%;
}

.image-page-gestion-voeux
{
    width: 60%;
    margin-left: 20%;
}

.texte-page-gestion-voeux
{
    font-family: 'Abril Fatface', cursive , sans-serif;
    font-size: 115%;
    padding-left: 4%;
    padding-top: 4%;
    text-align: center;
    color: white;
}

.image-page-affectation-voeux
{
    width: 40%;
}

.image-page-affectation-régions
{
    width: 40%;
}

.div-page-voeux-regions
{
    display: flex;
}

.image-page-affectation-voeux
{
    margin-left: 3%;
    margin-top: 3%;
}

.image-page-affectation-régions
{
    margin-left: 11%;
    margin-top: 3%;
}

.texte-page-affectation-voeux-regions
{
    font-family: 'Abril Fatface', cursive , sans-serif;
    font-size: 115%;
    text-align: center; 
    margin-top: 4%;
    color: white;
    margin-bottom: 5%;
}

.boutton-1-ppe
{
    margin-left: 18%;
    height: 40px;
}

.boutton-2-ppe
{
    height: 40px;
    margin-left: 63%;
}

.boutton-3-ppe
{
    margin-left: 14%;
    height: 40px;
}

.boutton-4-ppe
{
    margin-left: 45%;
    height: 40px;
    margin-bottom: 5%;
}

.couleur-ppe-2
{
    background-color: #696969;
    margin-top: -1%;
    height: 1800px;
}

.image-connexion-ppe-2
{
    width: 60%;
    margin-left: 125%;
    margin-top: -30%;
    animation-name: animationimage-connexion-ppe-2;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    display: none;
    position: sticky;
    
}

@keyframes animationimage-page-connexion
{
    from
    {
        opacity: 100%;
        
    }

    to
    {
        opacity: 0%;
        display: none;
    }   
    
}

@keyframes animationimage-connexion-ppe-2
{
    from
    {
        opacity: 0%;
        
    }

    to
    {
        margin-left: 20%;
        opacity: 100%;
    }
    
}

.image-page-affectation
{
    animation-name: animationimage-page-affectation;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes animationimage-page-affectation
{
    from
    {
        opacity: 100%;
        
    }

    to
    {
        opacity: 0%;
        display: none;
        width: 0%;
    }   
    
}

.image-demande-affectation
{
    animation-name: animationimage-demande-affectation;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-duration: 1s;
    width: 40%;
    margin-left: -40%;
    
}

@keyframes animationimage-demande-affectation
{
    from
    {
        opacity: 0%;
        margin-left: -40%;
    }

    to
    {
        margin-left: 10%;
        opacity: 100%;
    }
    
}

.image-modifierplaces-ppe-2
{
    width: 50%;
    margin-left: 100%;
    margin-top: -35%;
    display: none;
    animation-name: animationmodiferplaces-ppe-2;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-duration: 1s;
}

.image-page-gestion-voeux
{
    animation-name: animationpage-gestion-voeux;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    
}

@keyframes animationpage-gestion-voeux
{
    from
    {
        opacity: 100%;
        
    }
    to
    {
        opacity: 0%;
        
    }
}

@keyframes animationmodiferplaces-ppe-2
{
    from
    {
        opacity: 0%;
    }
    to
    {
        opacity: 100%;
        margin-left: 30%;
    }
}

.image-page-affectation-voeux-code
{
    width: 40%;
    margin-top: 5%;
    margin-left: -40%;
    display: none;
    animation-name: animationpage-affectation-voeux-code;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;

}

@keyframes animationpage-affectation-voeux-code
{
    from
    {
        opacity: 0%;
    }
    to
    {
        opacity: 100%;
        margin-left: 5%;
    }
}

.image-page-affectation-voeux
{
    animation-name: animationpage-affectation-voeux;
    animation-duration: 1s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    margin-top: 10%;
}

@keyframes animationpage-affectation-voeux
{
    from
    {
        opacity: 100%;
    }
    to
    {
        opacity: 0%;
        display: none;
        width: 0%;
    }
}

.image-page-affectation-régions
{
    animation-name: animationpage-affectation-regions;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    margin-top: 10%;
}

@keyframes animationpage-affectation-regions
{
    from
    {
        opacity: 100%;
    }
    to
    {
        opacity: 0%;
        display: none;
        width: 0%;
    }
}

.image-page-affectation-régions-code
{
    display: none;
    width: 40%;
    margin-top: 5%;
    animation-name: animationpage-affectation-regions-code;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

@keyframes animationpage-affectation-regions-code
{
    from
    {
        opacity: 0%;
    }
    to
    {
        opacity: 100%;
        margin-left: -7%;
    }
}

.conexion-r
{
    text-align: center;
    color: lawngreen;
    font-weight: bold;
    animation-name: animation-conexion-r;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes animation-conexion-r
{
    from
    {
        opacity: 100%;
    }
    to
    {
        opacity: 0%;
    }
}


.barre-presentation-veille
{
    border-top: 2px solid black;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2%;
}

.text-presentation-js
{
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    font-family: 'Abril Fatface', cursive , sans-serif;
}

.images-bdd
{
    margin-bottom: 3%;
    margin-left: 27%;
    width: 50%;
}

.nom-article-bdd
{
    text-align: center;
    font-family: ruso , sans-serif;
}

.source-article-bdd
{
    text-align: center;
    font-size: 110%;
    font-weight: bold;
    font-family: ruso , sans-serif;
}

.date-article-bdd
{
    text-align: center;
    font-size: 110%;
    font-weight: bold;
    font-family: ruso , sans-serif;
}

.lien-article-bdd
{
    text-align: center;
    font-size: 110%;
    margin-bottom: 10%;
    font-weight: bold;
    font-family: ruso , sans-serif;
}

.images-bdd1
{
    margin-bottom: 3%;
    margin-left: 27%;
    width: 50%;
    display: none;
}

.nom-article-bdd1
{
    text-align: center;
    display: none;
    font-family: ruso , sans-serif;
}

.source-article-bdd1
{
    text-align: center;
    font-size: 110%;
    font-weight: bold;
    display: none;
    font-family: ruso , sans-serif;
}

.date-article-bdd1
{
    text-align: center;
    font-size: 110%;
    font-weight: bold;
    display: none;
    font-family: ruso , sans-serif;
}

.lien-article-bdd1
{
    text-align: center;
    font-size: 110%;
    margin-bottom: 10%;
    font-weight: bold;
    display: none;
    font-family: ruso , sans-serif;
}

.images-bdd2
{
    margin-bottom: 3%;
    margin-left: 27%;
    width: 50%;
    display: none;
}

.nom-article-bdd2
{
    text-align: center;
    display: none;
    font-family: ruso , sans-serif;
}

.source-article-bdd2
{
    text-align: center;
    font-size: 110%;
    font-weight: bold;
    display: none;
    font-family: ruso , sans-serif;
}

.date-article-bdd2
{
    text-align: center;
    font-size: 110%;
    font-weight: bold;
    display: none;
    font-family: ruso , sans-serif;
}

.lien-article-bdd2
{
    text-align: center;
    font-size: 110%;
    margin-bottom: 10%;
    font-weight: bold;
    display: none;
    font-family: ruso , sans-serif;
}

@font-face
{
    font-family: 'ruso';
    src: url('../font/RussoOne-Regular.TTF');
}

.background-veille
{
    background-image: linear-gradient(to left, #a18cd1 0%, #fbc2eb 100%);
    margin-bottom: -10%;
}

.boutton-date 
{
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Georgia;
	font-size:14px;
	font-weight:bold;
	padding:18px 22px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    margin-left: 27%;
    margin-bottom: 3%;
}
.boutton-date:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.boutton-date:active {
	position:relative;
	top:1px;
}

.boutton-pertinence
{
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Georgia;
	font-size:14px;
	font-weight:bold;
	padding:18px 22px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    margin-left: 25%;
    margin-bottom: 3%;
}
.boutton-pertinence:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.boutton-pertinence:active {
	position:relative;
	top:1px;
}

.titre-situation-entreprise
{
    text-align: center;
    margin-top: 4%;
    font-weight: bold;
    font-family: 'Abril Fatface', cursive , sans-serif;
}

.images-mapa-logo
{
    margin-left: 25%;
}

.titre-mapa-mission1
{
    font-family: 'Abril Fatface', cursive , sans-serif;
    font-size: 150%;
    font-weight: bold;
    margin-top: 5%;
    text-align: center;
}

.contexte-mapa-mission1
{
    font-size: 125%;
    text-align: center;
    font-family: 'Abril Fatface', cursive , sans-serif;
}

.barre-presentation-mapa-mission1
{
    border-top:2px solid black;
    width: 90%;
    margin-left: 5%; 
    margin-bottom: 2%;
}

.objectif-mapa-mission1
{
    text-align: center;
    font-family: 'Abril Fatface', cursive , sans-serif;
}

.langages-utilises
{
    text-align: center;
    font-weight: bold;
    font-family: 'Abril Fatface', cursive , sans-serif;
}

.text-page-accueil
{
    text-align: center;
    margin-top: 10%;
    font-size: 175%;
    font-family: 'Abril Fatface', cursive , sans-serif;
}

.image-page-accueil-mapa
{
    width: 60%;
    margin-left: 21%;
}

.logo-mapa-mission1
{
    margin-left: 25%;
}

.background-mission-mapa-1
{
    background-image: linear-gradient(to left, #a18cd1 0%, #fbc2eb 100%);
    margin-top: -1%;
}

.text-page-inscription-mapa1
{
    text-align: center;
    margin-top: 10%;
    font-size: 175%;
    font-family: 'Abril Fatface', cursive , sans-serif;
}

.image-inscription-mapa
{
    width: 60%;
    margin-left: 21%;
}

.text-actualite-mapa
{
    text-align: center;
    margin-top: 10%;
    font-size: 175%;
    font-family: 'Abril Fatface', cursive , sans-serif; 
}

.image-actu1-mapa
{
    width: 60%;
    margin-left: 21%;
}

.image-actu2-mapa
{
    width: 60%;
    margin-left: 21%;
    margin-top: 2%;
}

.text-marketplace-mapa
{
    text-align: center;
    margin-top: 10%;
    font-size: 175%;
    font-family: 'Abril Fatface', cursive , sans-serif;
}

.image-marketplace-mapa1
{
    width: 60%;
    margin-left: 21%;
    margin-top: 2%;
    margin-bottom: 3%;
}

.resume-article
{
    text-align: center;
    font-family: ruso , sans-serif;
}

.resume-article1
{
    text-align: center;
    font-family: ruso , sans-serif;
    display: none;
}

.resume-article2
{
    text-align: center;
    font-family: ruso , sans-serif;
    display: none
}

@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap') repeat scroll 0 0 rgba(0, 0, 0 , 0);

body {
  background: #fff;
}

.title {
  font-size: 5.6rem;
  font-family: 'Lobster', cursive;
}

.wrapper1 {
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
  color: #eee;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  animation: animation 100s linear infinite;
}

@keyframes animation {
   100%{
    background-position:0px -3000px;
  }
}

